<footer class="site-footer">
  <div class="wrap">
    <div class="col">
      <a class="brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/logo/geml-mark.svg' | relative_url }}" alt="" width="20" height="20">
        <span>GEML</span>
      </a>
      <p>General Expressive Markup Language.<br>MIT-licensed code, CC&nbsp;BY&nbsp;4.0 spec.</p>
    </div>
    <div class="col">
      <h4>Docs</h4>
      <a href="https://github.com/{{ site.repository }}/blob/main/spec/GEML-spec.md">Spec (EN)</a>
      <a href="https://github.com/{{ site.repository }}/blob/main/spec/GEML-spec_CN.md">规格 (中文)</a>
      <a href="https://github.com/{{ site.repository }}/blob/main/docs/MANIFESTO.md">Manifesto</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
    </div>
    <div class="col">
      <h4>Project</h4>
      <a href="https://github.com/{{ site.repository }}">GitHub</a>
      <a href="https://www.npmjs.com/package/@geml/geml">npm</a>
      <a href="https://geml-spec.github.io/geml/playground/">Playground</a>
      <a href="https://github.com/{{ site.repository }}/blob/main/README.md">README (中文/English)</a>
    </div>
  </div>
</footer>
