<header class="site-header">
  <div class="wrap">
    <a class="brand" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/logo/geml-mark.svg' | relative_url }}" alt="" width="28" height="28">
      <span>GEML</span>
    </a>
    <nav class="site-nav">
      <a href="{{ '/#one-minute' | relative_url }}">Format</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="https://github.com/{{ site.repository }}/blob/main/spec/GEML-spec.md">Spec</a>
      <a href="https://geml-spec.github.io/geml/playground/">Playground</a>
      <a href="https://github.com/{{ site.repository }}">GitHub</a>
    </nav>
  </div>
</header>
